<div class="row">
  <p class="col-sm-2">
    <%= comment.commenter %>
  </p>
 
  <p class="col-sm-8">
    <%= comment.body %>
  </p>

  <p class="col-sm-2">
    <%= link_to 'Delete Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </p>
</div>