// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#article-category {
    color: #007bff;
}

#article-title {
    color: black;
}

#article-subtitle {
    color: gray;
}

#article-text {
    padding-top: 2rem;
    padding-bottom: 2rem;
    white-space: pre-line;
}